article {
  width: 500px;
  height: 200px;
  background-color: lightslategray;
  padding: 10px;
  overflow: auto;
}
h2 {
  text-transform: uppercase;
  text-align: center;
}

h3 {
  text-align: center;
}
p {
  font-size: 30px;
}
