*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font: 14px/1.5 Georgia, serif
}

body{
    background: rgb(238,238,238);
    font: inherit;
}

h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
}

img{
    background: rgb(255,255,255);
    box-shadow: 0 0 1em 0 rgba(0,0,0,0.25);
}

blockquote{
    font-family: Georgia, serif;
}